/* Global Styles */
:root {
  --primary-color: #2e909a;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #f54d28;
  --success-color: #28a745;
  --light-orange: #efb270;
  --light-green: #beef7f;
  --light-yellow: #f7ee8a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #ddd;
  /*background: #f0efe7 url(./body.jpg);*/
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(31, 34, 68, 0.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(22, 22, 58, 0.1) 15%, transparent 20%) 8px 9px;
  background-color:#1d1c1c;
  background-size:16px 16px;}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

th {
  color: var(--dark-color);
}
/* Utilities */
.show {
  display: block;
}
.hide {
  display: none;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.nowrap {
  white-space: nowrap;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-lt-orange {
  background: var(--light-orange);
}

.btn-lt-green {
  background: var(--light-green);
}

.btn-lt-yellow {
  background: var(--light-yellow);
}

.profile-item-buttons {
  margin-top: 60px;
}

.profile-item-buttons a {
  float: right;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  width: 130px;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

.table.post-table th {
  padding: 0.25rem 1rem;
  color: var(--primary-color);
}

.table.post-table td {
  padding: 0.25rem 1rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: rgb(63, 58, 58);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  /*background: url('./img/showcase.jpg') no-repeat center center/cover;*/
  height: 100vh;
}

.landing-inner {
  color: var(--light-color);
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
blockquote {
  width: 35%;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  position: relative;
}

.profiles .profile button {
  position: absolute;
  right: 16px;
  top: 20px;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:rgb(29, 28, 28);
  background-image:
  radial-gradient(rgb(131, 129, 129), rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(rgb(133, 131, 131), rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(rgb(139, 137, 137), rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(133, 132, 132, 0.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.profile-top img {
  /*width: 250px;*/
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.dashwrap div {
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  /* tables */
  .table th, .table td {
    padding: 0.5%;
  }
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .btn {
    margin-bottom: 0.5rem;
  }
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
    margin-left: -60px;
  }

  .navbar .welcome {
    display: none;
  }

  blockquote {
    width: 95%;
}

  /* Profiles Page */
  .profile {
    position: relative;
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 68px;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: auto;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }

  .post > div:first-child {
    text-align: left;
    height: 20px;
  }

  .table.post-table td {
    font-size:3vw;
    padding: 1vw;
  }
}

/* FILE UPLOAD */
.active {
  font-weight: 600;
  color: #0e7bf1;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 1rem;
}

.upload-section {
  display: flex;
  min-height: 200px;
  margin-bottom: 10px;
}

.upload-section > div {
  width: 50%;
}

.drop-zone {
  margin-bottom: 10px;
  padding: 40px 10px;
  height: inherit;
  border: 2px dashed #e9ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.drop-zone:focus {
  outline: none;
}

.image-preview {
  height: inherit;
  margin-left: 5%;
}

.preview-image {
  width: 100%;
  height: inherit;
  display: block;
  margin-bottom: 10px;
}

.preview-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.files-container {
  width: 98%;
  overflow-x: auto;
}

.files-table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.files-table tr,
.files-table td,
.files-table th {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .file-title {
    width: 20%;
  }

  .file-description {
    width: 70%;
  }

@media screen and (max-width: 1000px) {
  .upload-section {
    flex-direction: column;
  }
  .upload-section > div {
    width: 100%;
  }
  .image-preview {
    margin-left: 0;
    height: 300px;
  }
  .upload-section {
    height: unset;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  .drop-zone {
    width: 100%;
  }

}